@font-face {
  font-family: "iconfont"; /* Project id 2503920 */
  src: url('iconfont.woff2?t=1623811258478') format('woff2'),
       url('iconfont.woff?t=1623811258478') format('woff'),
       url('iconfont.ttf?t=1623811258478') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data-theme:before {
  content: "\e604";
}

.icon-log:before {
  content: "\e600";
}

.icon-label:before {
  content: "\e609";
}

.icon-metric:before {
  content: "\e62c";
}

.icon-dashboard:before {
  content: "\e68b";
}

.icon-table:before {
  content: "\e60c";
}

.icon-folder:before {
  content: "\e7e0";
}

